include components.pug

- const metaDescription = stripTags(shortcodes(markdown(description || text || answer || ''))).trim()
- const trimmedMetaDescription = trimDescription(metaDescription)
- const img = [...images, ...(parent ? parent.images : [])]
- const share = img.find(image => image.url.endsWith('/share.png'))
- const feed = findPageByUrl('/feed')

doctype html
html(lang='en', itemscope, itemtype=`http://schema.org/${getSchemaForTemplate(template)}`)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    if (template === 'home')
      meta(name='description', content=title)
    else
      meta(name='description', content=trimmedMetaDescription)
    if (template === 'home')
      meta(itemprop='name', content='Dev Tips')
      meta(itemprop='description', content=title)
    else if (template === 'post')
      meta(itemprop='headline', content=title)
      meta(itemprop='description', content=trimmedMetaDescription)
    else
      meta(itemprop='name', content=title)
      meta(itemprop='description', content=trimmedMetaDescription)
    if (share)
      meta(itemprop='image', content=`${hostname}${share.url}`)
    else
      meta(itemprop='image', content=`${hostname}${basepath('/assets/img/logo.png')}`)
    meta(name='twitter:card', content='summary')
    if (template === 'post' && author)
      - const authorData = findPageByUrl(`/authors/${author}`)
      if (authorData && authorData.twitter)
        meta(name='twitter:creator', content=`@${authorData.twitter}`)
    meta(property='og:url', content=`${hostname}${url}`)
    meta(property='og:title', content=title)
    meta(property='og:description', content=trimmedMetaDescription)
    if (share)
      meta(property='og:image', content=`${hostname}${share.url}`)
    else
      meta(property='og:image', content=`${hostname}${basepath('/assets/img/logo.png')}`)
    meta(property='og:type', content=getOpenGraphTypeForTemplate(template))
    meta(property='og:site_name', content='Dev Tips')
    block meta
    if (template === 'home')
      title Dev Tips
    else
      title #{title || name}
    link(rel='preload', href=basepath('/assets/css/style.css'), as='style')
    link(rel='preload', href=basepath('/assets/js/scripts.js'), as='script')
    each font in fonts
      link(rel='preload', href=basepath(`/assets/fonts/${font.file}.woff2`), as='font', type='font/woff2', crossorigin)
    link(rel='stylesheet', href=basepath('/assets/css/style.css'))
    link(rel='alternate', href=feed.url, title='RSS Feed')
    block link
  body(class=`page page--${template}`)
    +header
      +headerSite(genesis.url)
      +headerTitle(title || name)
      if (description)
        +headerDescription(description)(itemprop='abstract')
    block content
    +footer()
      +footerCopyright()
      +footerMasthead({
        authors: findPageByUrl('/authors').url
      })
    script(src=basepath('/assets/js/scripts.js'), async)
