mixin article(variant)
  article.article(class=(variant ? `article--${variant}` : ''))
    .article__wrapper
      block

mixin articleMeta()
  .article__meta
    block

mixin articleAuthors()
  .article__authors
    block

mixin articleDate(published, updated)
  .article__date
    time(datetime=formatDate(published), itemprop='datePublished') #{formatDate(published, 'MMMM Do YYYY')}
    if (updated)
     = ' (updated on '
     time(datetime=formatDate(updated), itemprop='dateModified') #{formatDate(updated, 'MMMM Do YYYY')}
     = ')'

mixin articleCategory(category)
  +category(category).article__category

mixin articleContent()
  .article__content(itemprop='articleBody')
    block

mixin articleActions()
  ul.article__actions
    block

mixin articleAction()
  li.article__action
    block
